.content {
    width: 80vw;
    height: 100vh;
    padding-top: 10vh;
    margin-left: 10vw;
    img {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 40vw;
        min-width: 20vw;
        height: auto;
    }
    h1 {
        text-align: center;
    }
    p {
        font-size: large;
    }
    .tops {
        display: flex;
        flex-direction: row;
    }
}
