<div class="content" *ngIf="user">
    <img [src]="user.images[0].url" [alt]="user.display_name">
    <h1>🎵🍉Good day to you {{ user.display_name }}🍉🎵</h1>
    <p>Let's take a glance at your spotify listening trends shall we? We promise not to judge...</p>
    <br />
    <p>Over the last month you've really been digging these badgers 🦡</p>
    <div class="tops">
        <app-tile *ngIf="shortTermTopArtist && shortTermTopTrackForTopArtist" title="Your top" [artist]="shortTermTopArtist" [trackPreview]="shortTermTopTrackForTopArtist.preview_url"></app-tile>
        <app-tile *ngIf="shortTermTopTrack" title="Your top" [track]="shortTermTopTrack" [trackPreview]="shortTermTopTrack.preview_url"></app-tile>
    </div>
    <br />
    <p>For the last 6 months you've been squidding with these kids 🦑 (no kidding!)</p>
    <div class="tops">
        <app-tile *ngIf="mediumTermTopArtist && mediumTermTopTrackForTopArtist" title="Your top" [artist]="mediumTermTopArtist" [trackPreview]="mediumTermTopTrackForTopArtist.preview_url"></app-tile>
        <app-tile *ngIf="mediumTermTopTrack" title="Your top" [track]="mediumTermTopTrack" [trackPreview]="mediumTermTopTrack.preview_url"></app-tile>
    </div>
    <br />
    <p>And finally, Your all time favourites 💕🤟...</p>
    <div class="tops">
        <app-tile *ngIf="longTermTopArtist && longTermTopTrackForTopArtist" title="Your top" [artist]="longTermTopArtist" [trackPreview]="longTermTopTrackForTopArtist.preview_url"></app-tile>
        <app-tile *ngIf="longTermTopTrack" title="Your top" [track]="longTermTopTrack" [trackPreview]="longTermTopTrack.preview_url"></app-tile>
    </div>
</div>