@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html,
body {
    margin: 0;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: lemonchiffon;
    background-image: url("https://media.giphy.com/media/245otAim3vNmy59B4d/giphy.gif");
    background-size: cover;
}